<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="css/bulma.min.css">

    <script type="application/javascript" src="js/vue/vue.js"></script>
    <script type="application/javascript" src="js/vue/components.js"></script>
    <script type="application/javascript" src="js/jquery.min.js"></script>

    <link rel="stylesheet" href="css/index.css">
    <script type="application/javascript" src="js/index.js"></script>
    <title></title>
</head>
<body>
    <div id="app" class="container is-fluid">
        <h1 class="title is-1 has-text-centered">Formula One Web API 2</h1>
        <div class="columns">
            <div class="column is-12 has-text-centered">
                <button class="button is-link" v-on:click="request('teams')" v-bind:disabled="disableButtons">Teams</button>
                <button class="button is-link" v-on:click="request('drivers')" v-bind:disabled="disableButtons">Drivers</button>
                <button class="button is-link" v-on:click="request('circuits')" v-bind:disabled="disableButtons">Circuits</button>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4"></div>
            <div class="column is-4">
                <input type="text" class="input" placeholder="Search by ID" v-bind:disabled="dataRequired == '' || data.length == 0" v-on:input="search" v-model="searchID" />
            </div>
            <div class="column is-4"></div>
        </div>
        <div class="columns" v-for="row in rows">
            <div class="column is-4" v-for="item in row" v-if="!notFound">
                <team-card v-bind:team="item" v-if="dataRequired == 'teams'"></team-card>
                <driver-card v-bind:driver="item" v-if="dataRequired == 'drivers'"></driver-card>
                <circuit-card v-bind:Circuit="item" v-if="dataRequired == 'circuits'"></circuit-card>
            </div>
            <div class="column is-12" v-if="notFound">
                <h3 class="has-text-centered has-text-danger is-uppercase has-text-weight-bold">{{ dataRequired.substring(0, dataRequired.length - 1) }} not found.</h3>
            </div>
        </div>
    </div>
</body>
</html>